<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Row grouping</h4>
        <h6 class="card-subtitle">Data table example</h6>
        <div class="table-responsive m-t-40">
          <div id="example_wrapper" class="dataTables_wrapper">
            <div class="dataTables_length" id="example_length">
              <label
                >Show
                <select name="example_length" aria-controls="example" class="">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
            <div id="example_filter" class="dataTables_filter">
              <label
                >Search:<input
                  type="search"
                  class=""
                  placeholder=""
                  aria-controls="example"
              /></label>
            </div>
            <table
              id="example"
              class="table display table-bordered table-striped dataTable"
              role="grid"
              aria-describedby="example_info"
              style="width: 1127px"
            >
              <thead>
                <tr role="row">
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="example"
                    rowspan="1"
                    colspan="1"
                    style="width: 244px"
                    aria-label="Name: activate to sort column ascending"
                  >
                    Name
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="example"
                    rowspan="1"
                    colspan="1"
                    style="width: 371px"
                    aria-label="Position: activate to sort column ascending"
                  >
                    Position
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="example"
                    rowspan="1"
                    colspan="1"
                    style="width: 101px"
                    aria-label="Age: activate to sort column ascending"
                  >
                    Age
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="example"
                    rowspan="1"
                    colspan="1"
                    style="width: 177px"
                    aria-label="Start date: activate to sort column ascending"
                  >
                    Start date
                  </th>
                  <th
                    class="sorting"
                    tabindex="0"
                    aria-controls="example"
                    rowspan="1"
                    colspan="1"
                    style="width: 129px"
                    aria-label="Salary: activate to sort column ascending"
                  >
                    Salary
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th rowspan="1" colspan="1">Name</th>
                  <th rowspan="1" colspan="1">Position</th>
                  <th rowspan="1" colspan="1">Age</th>
                  <th rowspan="1" colspan="1">Start date</th>
                  <th rowspan="1" colspan="1">Salary</th>
                </tr>
              </tfoot>
              <tbody>
                <tr class="group">
                  <td colspan="5">Edinburgh</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Cedric Kelly</td>
                  <td>Senior Javascript Developer</td>

                  <td>22</td>
                  <td>2012/03/29</td>
                  <td>$433,060</td>
                </tr>
                <tr class="group">
                  <td colspan="5">London</td>
                </tr>
                <tr role="row" class="even">
                  <td>Jena Gaines</td>
                  <td>Office Manager</td>

                  <td>30</td>
                  <td>2008/12/19</td>
                  <td>$90,560</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Michael Silva</td>
                  <td>Marketing Designer</td>

                  <td>66</td>
                  <td>2012/11/27</td>
                  <td>$198,500</td>
                </tr>
                <tr role="row" class="even">
                  <td>Bradley Greer</td>
                  <td>Software Engineer</td>

                  <td>41</td>
                  <td>2012/10/13</td>
                  <td>$132,000</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Suki Burks</td>
                  <td>Developer</td>

                  <td>53</td>
                  <td>2009/10/22</td>
                  <td>$114,500</td>
                </tr>
                <tr class="group">
                  <td colspan="5">New York</td>
                </tr>
                <tr role="row" class="even">
                  <td>Brielle Williamson</td>
                  <td>Integration Specialist</td>

                  <td>61</td>
                  <td>2012/12/02</td>
                  <td>$372,000</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Paul Byrd</td>
                  <td>Chief Financial Officer (CFO)</td>

                  <td>64</td>
                  <td>2010/06/09</td>
                  <td>$725,000</td>
                </tr>
                <tr role="row" class="even">
                  <td>Gloria Little</td>
                  <td>Systems Administrator</td>

                  <td>59</td>
                  <td>2009/04/10</td>
                  <td>$237,500</td>
                </tr>
                <tr class="group">
                  <td colspan="5">San Francisco</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Herrod Chandler</td>
                  <td>Sales Assistant</td>

                  <td>59</td>
                  <td>2012/08/06</td>
                  <td>$137,500</td>
                </tr>
                <tr role="row" class="even">
                  <td>Colleen Hurst</td>
                  <td>Javascript Developer</td>

                  <td>39</td>
                  <td>2009/09/15</td>
                  <td>$205,500</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Charde Marshall</td>
                  <td>Regional Director</td>

                  <td>36</td>
                  <td>2008/10/16</td>
                  <td>$470,600</td>
                </tr>
                <tr role="row" class="even">
                  <td>Fiona Green</td>
                  <td>Chief Operating Officer (COO)</td>

                  <td>48</td>
                  <td>2010/03/11</td>
                  <td>$850,000</td>
                </tr>
                <tr class="group">
                  <td colspan="5">Singapore</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Jennifer Chang</td>
                  <td>Regional Director</td>

                  <td>28</td>
                  <td>2010/11/14</td>
                  <td>$357,650</td>
                </tr>
                <tr class="group">
                  <td colspan="5">Tokyo</td>
                </tr>
                <tr role="row" class="even">
                  <td>Garrett Winters</td>
                  <td>Accountant</td>

                  <td>63</td>
                  <td>2011/07/25</td>
                  <td>$170,750</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Airi Satou</td>
                  <td>Accountant</td>

                  <td>33</td>
                  <td>2008/11/28</td>
                  <td>$162,700</td>
                </tr>
                <tr role="row" class="even">
                  <td>Rhona Davidson</td>
                  <td>Integration Specialist</td>

                  <td>55</td>
                  <td>2010/10/14</td>
                  <td>$327,900</td>
                </tr>
                <tr role="row" class="odd">
                  <td>Shou Itou</td>
                  <td>Regional Marketing</td>

                  <td>20</td>
                  <td>2011/08/14</td>
                  <td>$163,000</td>
                </tr>
              </tbody>
            </table>
            <div
              class="dataTables_info"
              id="example_info"
              role="status"
              aria-live="polite"
            >
              Showing 1 to 17 of 17 entries
            </div>
            <div
              class="dataTables_paginate paging_simple_numbers"
              id="example_paginate"
            >
              <a
                class="paginate_button previous disabled"
                aria-controls="example"
                data-dt-idx="0"
                tabindex="0"
                id="example_previous"
                >Previous</a
              ><span
                ><a
                  class="paginate_button current"
                  aria-controls="example"
                  data-dt-idx="1"
                  tabindex="0"
                  >1</a
                ></span
              ><a
                class="paginate_button next disabled"
                aria-controls="example"
                data-dt-idx="2"
                tabindex="0"
                id="example_next"
                >Next</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
